<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.kirahakkinen.poxy" version="1.0.0">
        <!-- versionCode is optional and Android only -->
        <name>POXY Pockethelper</name>
        <description> The cutest to-do list you have ever seen! </description>
        <author href="https://build.phonegap.com" email="kira.hakkinen@gmail.com"> Kira Häkkinen </author>
    </widget>